.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 1rem;
}

.palabGit{
    background-color: orange;
    border-radius: 5rem;
    padding: 0.6rem 0.3rem;
}

.botGitH{
    text-decoration: none;
    background-color: rgb(71, 102, 254);
    color: white;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}