.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 1rem;
}

.palabGit{
    background-color: rgb(255, 106, 0);
    border-radius: 5rem;
    padding: 0.8rem 0.3rem;
    color: white;
}

.botGitH{
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 0.3rem 2rem;
    border-radius: 3px;
}